<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/fragments/app.html :: head"/>
</head>
<body>
<div th:replace="/fragments/app.html :: navbar"></div>
<div class="container">
    <h3 th:text="|${sensor.device.name}: ${sensor.name}|"></h3>
    <div th:replace="/sensor/_sensor_value_list:: sensor_value_table"></div>
</div>
<script type="application/javascript">
    $(document).ready(function () {
        function connect() {
            var rtValue=$('#rt-value');
            var svId=$('#rt-value-container').data("sensor-value-id");
            var socket = new WebSocket('ws://localhost:8081/weather_station_war/weather_station');
            stompClient = Stomp.over(socket);
            stompClient.connect({}, function(frame) {
                //setConnected(true);
                console.log('Connected: ' + frame);
                stompClient.subscribe("/topic/sensor_value/"+svId, function(messageOutput) {
                    console.log((messageOutput.body));
                    rtValue.text(JSON.parse(messageOutput.body).value)
                });
                sendMessage();
            });
        }
    })
</script>
</body>
</html>