<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <th:block th:include="/fragments/app.html :: head"/>
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.9.3/dist/Chart.min.js"></script>
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
</head>
<body>
<div th:replace="/fragments/app.html :: navbar"></div>
<div class="container">
    <h1 th:text="${sensor_value.name}"></h1>
    <div th:replace="/sensor_value/_sensor_measurement_chart :: chart"></div>
</div>
</body>
</html>