<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:fragment="head">
    <meta charset="UTF-8">
    <title>Weather Station</title>
    <!-- Compiled and minified CSS -->
    <script
            src="https://code.jquery.com/jquery-3.4.1.min.js"
            integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
            crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">

    <!-- Compiled and minified JavaScript -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.4.0/sockjs.min.js" integrity="sha256-z4cKT3yF+afIn8eFXJc+nRpGtwcmNEClvf+ikgsZcRo=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js" integrity="sha256-nkP8cj5xaTdWK/BsZl+57ZCE/Y/i4UNtbNTpgH+6Taw=" crossorigin="anonymous"></script>
</head>
<body>
<nav th:fragment="navbar">
    <div class="nav-wrapper">
        <a href="#" class="brand-logo">Weather Station</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
            <li><a th:href="@{/device/}">Devices</a></li>
            <li>
                <form th:action="@{/logout}" method="post" id="nav-sign-out">
                    <a id="nav-sign-out-link">Sign out</a>
                    <input type="hidden" name="_submit" value="Sign Out"/>
                </form>
            </li>
        </ul>
    </div>
    <script>
        $(document).ready(function () {
            $('#nav-sign-out-link').click(function () {
                document.getElementById("nav-sign-out").submit();
                return true;
            });
        })
    </script>
</nav>
</body>
</html>